---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Trubbelstudio</h1>
      <p class="subtitle">
        Web development, sound design and music in Geneva. Contact me at
        <a href="mailto:lnsjhnssn@gmail.com" class="mail-link"
          >lnsjhnssn@gmail.com</a
        >.
      </p>

      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>

                <h3 class="title">{post.data.title}</h3>

                <p class="description">{post.data.description}</p>
                <p class="link">
                  <a href={post.data.link} target="_blank">
                    {post.data.link}
                  </a>
                </p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  .subtitle {
    font-size: var(--step-2);
  }

  .mail-link:hover {
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  .link,
  .date,
  .title,
  .description {
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.7;
  }

  ul li * {
    text-decoration: none;
    transition: 0.1s ease;
  }

  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul li a {
    display: block;
  }
  .title {
    margin: 0;
  }
  .date {
    margin: 0;
    color: var(--gray-9);
    font-size: var(--step--1);
  }

  .link {
    color: var(--gray-10);
    font-weight: var(--font-weight-normal);
  }
  .link:hover {
    color: rgb(var(--accent));
    font-weight: var(--font-weight-bold);
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
    }
  }
</style>
