---
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog");
const sortedPosts = allBlogPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<ul class="blog-list">
  {
    sortedPosts.map((post, index) => (
      <li>
        <div class="card">
          <p class="date">
            <FormattedDate date={post.data.pubDate} />
          </p>

          <h3>{post.data.title_english}</h3>

          <p class="description">{post.data.description_francais}</p>
          <p class="link">
            <a href={post.data.link} target="_blank">
              {post.data.link}
            </a>
          </p>
          {post.data.cover && (
            <Image
              class="image"
              src={post.data.cover}
              alt={post.data.coverAlt || post.data.title_english}
            />
          )}
        </div>
      </li>
    ))
  }
</ul>

<style>
  .blog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
  }

  .image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }

  a:hover {
    color: var(--accent);
  }

  .date {
    margin-bottom: var(--space-3xs) 0;
    color: var(--mist-text);
    font-size: var(--step--1);
  }
</style>
